body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffd0a8;
  font-family: 'calibri', sans-serif;
  font-weight: 400;
  text-transform: capitalize;
}
.container{
  text-align: center;
  padding: 5rem;
  border-radius: 5px;
  background-color: #fff;
  flex: 0 0 80%;
}
#quoteBtn{
  border: none;
  color: #fff;
  background: rgba(255, 200, 168, 1);
  padding: 0.45rem 0.60rem;
  font-size: 1.3rem;
  border-radius: 7px;
  outline: none;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
#quoteBtn:hover{
  color: rgba(255, 200, 168, 0.5);
  text-shadow: 0 0 1px rgba(0, 0, 0, 1);
}
blockquote{
  background: #ececec;
  border-left: 8px solid #fcdbbf;
  margin: 1.5rem;
  padding: 0.5rem;
}
#quoteAuthor{
  color: #8e8e8e;
}
